main{
    position: relative;
    padding-top: 5px;
    margin: auto;
    text-align: center;
    top: 5px;
    border: 2px solid gray;
    width: 300px;
    height: 480px;
    border-radius: 20px;
    background-color: #D1b2ea;
	box-shadow: 5px 5px 10px 3px #888;
    
}
header, input, .solution{
    font-family: 'Open Sans', sans-serif;
}
header h2{
    background-color: #9957CD;
    color: #D5BADB;
    padding: 2px 0px;
    text-transform: uppercase;
    letter-spacing: 0.2em
}
header h3{
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #563C5C;
}
input[type=text]{
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 15pt;
    color:#870074;
}
form span{
    font-size: 15pt;
    font-family: 'Pacifico', cursive;
    color: #563C5C;
}
input[type=button]{
    padding: 8px;
    font-size: 12pt;
    background-color:#b07cda;
    color: #563C5C;
}

#answer{
    font-family: 'Pacifico', cursive;
    font-size: 15pt;
    color: #563C5C;
    background-color:#b07cda;
    position: relative;
    top: 8px;
}
.solution {
    border-top:1px solid gray;
    border-bottom: 1px solid gray;
    font-size: 15pt;
    letter-spacing: 0.3em;
    width: 250px;
    position: relative;
    margin: auto;
}
